@import './../../scss/mixins.scss';
@import './../../scss/variables.scss';

.rating {
    display: flex;
    width: 156px;
    height: 18px;
    justify-content: space-around;
    @include media-query(medium) {
        height: fit-content;
        width: 196px;
    }
}