.collapse-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 1.5s ease-out;
    width: 100%;
    background-color:#F6F6F6 ;
    ul {
        li:first-Child{
            padding-top: 20px;
        }
        li:last-Child{
            padding-bottom: 20px;
        }
    }
  }
  
  .content-slidein {
    max-height: 300px;
  }

  .arrow-open {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }
  
  .arrow-closed {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
  }

  .drop-button {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-size: 24px;
    color: #F6F6F6;
    border-radius: 5px;
    cursor: pointer;
    overflow: hidden;
  }

  .drop-button-header {
    height: 52px;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    user-select: none;
    background-color: #FF6060;
    color: white;
    z-index: 2;
    box-sizing: border-box;
}

.collapse-text {
    text-align: left;
    padding: 20px;
    color: #FF6060;
    font-size: 18px;
    margin: 0;
}

.collapse-list{
    position: relative;
    background-color:#F6F6F6 ;
    margin: 0;
    z-index: 1;
    width: 100%;
    text-align:left;
}

.collapse-list-open{

    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0;
    padding: 0;
    gap: 0;
    z-index: 1;
    width: 100%;
    text-align:left;
}

.collapse-list-element{
    font-size: 18px;
    padding-left: 15px;
    color: #FF6060;
}