@import './../../scss/mixins.scss';
@import './../../scss/variables.scss';

.footer {
    position: absolute;
    left: -0%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    p {
        margin-top: 25px;
        width: 30%;
        color: white;
        font-size: 16px;
        @include media-query(medium){
            width: 100%;
        }
    }

}

.logo_footer {
    margin-top: 30px;
    height: 40px;
}