@import './../../scss/mixins.scss';
@import './../../scss/variables.scss';

.banner {
  display: flex;
  flex-direction: row;
  width: 95%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  margin-bottom: 70px;
  min-height: 111px;
  height: fit-content;
  
}

.catchphrase {
  display: flex;
  position: absolute;
  text-align: left;
  left: 10%;
  right: 30%;
  z-index: 20;
  h2{
    color: white;
    font-size: 48px;
    font-weight: 400;
  }
  @include media-query(medium) {
    left: 30%;
    right: 30%;
    text-align: center;
  }
  
}

.img_header {
    display: flex;
    width: 100%;
    min-height: 111px;
    flex-shrink: 0;
    border-radius: 30px;
    filter: brightness(0.8);
    object-fit: cover;
    overflow: hidden;
}

@media screen and (max-width: 1547px) {
  .catchphrase {
   h2{
     font-size: 42px;
   }
  }
 }

 @media screen and (max-width: 1367px) {
  .catchphrase {
   h2{
     font-size: 38px;
   }
  }
 }

@media screen and (max-width: 1167px) {
  .catchphrase {
   h2{
     font-size: 30px;
   }
  }
 }
  
@media screen and (max-width: 1024px) {
 .catchphrase {
  h2{
    font-size: 26px;
  }
 }
}
