@import './../../scss/mixins.scss';
@import './../../scss/variables.scss';

.slider {
    display: flex;
    position: relative;
    height: 415px;
    width: 100%;
}

.slider-previous {
    position: absolute;
    top: 48%;
    right: 90%;
    height: 10%;
    cursor: pointer;
    img{
        height: 100%;
    }
    @include media-query(medium) {
        top: 45%;
        height: 15%;
    }
    @include media-query(xlarge) {
        right: 95%;
        top: 40%;
        height: 20%;
        img{
            height: fit-content;
        }
    }
}

.slider-next {
    position: absolute;
    top: 48%;
    left: 90%;
    height: 10%;
    cursor: pointer;
    img{
        height: 100%;
    }
    @include media-query(medium) {
        top: 45%;
        height: 15%;
    }
    @include media-query(xlarge) {
        left: 95%;
        top: 40%;
        height: 20%;
        img{
            height: fit-content;
        }
    }
}

.slider-pagination {
    display: none;
    position: absolute;
    font-size: 20px;
    color: white;
    top: 90%;
    width: 10%;
    right: 45%;
    text-shadow: black -0.1em 0.1em 0.2em;
    @include media-query(medium) {
        display: block;
    }
}

.active-picture {
    width: 100%;
    img{
    width: 95%;
    height: 100%;
    object-fit: cover;
    @include media-query(xlarge) {
        width: 1240px;
    }
}
}

.slider-picture {
    border-radius: 2%;
}

